body {
  font-family: 'Oswald', sans-serif;
  background: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
}
sup {
  top: -1em;
}
#container {
  width: 1000px;
  margin-top: 20px;

  padding-top: 20px;
  padding-bottom: 20px;
}

#top-card {
  background-image: url('autumn.jpg');
}

#description {
  text-transform: capitalize;
}

#image {
  background: transparent;
  width: 70px;
}

a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}
a:active {
  color: #385170;
  cursor: none;
}

a:hover {
  color: #38598b;
}
.main-card {
  margin-bottom: 10px;
  height: 300px;
}

.card-row {
  justify-content: center;
  width: 68%;
  margin: 0 auto;
}

.li-font {
  font-size: 12px;
  border-style: none;
  padding-bottom: 0px;
}

.next-days {
  text-align: center;
}

.footer,
.footer a {
  font-size: 10px;
  text-align: center;
  padding-top: 15px;
}
